<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/way2learndb</property>
        <property name="hibernate.connection.username">root</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_class">thread</property>
   		<!-- <property name="hibernate.show_sql">true</property> 
        <property name="hibernate.format_sql">true</property> --> 
        
        <!-- <mapping class="in.co.way2learn.entity.Abc"/> -->
        <mapping class="in.co.way2learn.entity.Address"/>
        <mapping class="in.co.way2learn.entity.Purchase"/>
        <mapping class="in.co.way2learn.entity.Course"/>
        <mapping class="in.co.way2learn.entity.UserDetails"/>
         <mapping class="in.co.way2learn.entity.Testimonial"/>
        <mapping class="in.co.way2learn.entity.AboutUs"/>
        <mapping class="in.co.way2learn.entity.CouponCode"/>
        <mapping class="in.co.way2learn.entity.FacebookShareLink"/>
        <mapping class="in.co.way2learn.entity.Training"/>
    </session-factory>
</hibernate-configuration>
